{% load cms_tags sekizai_tags menu_tags thumbnail i18n %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>{% block title %}{% page_attribute "page_title" %}{% endblock %}</title>
    <meta http-equiv="keywords" content="{% block keywords %}{% page_attribute "meta_keywords" %}{% endblock %}"/>
    <meta name="description" content="{% block description %}{% page_attribute "meta_description" %}{% endblock %}"/>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="x-5rkH3kgHtx9G4BgmuazeYkhTCuGjCQ0RqsTIhSUSE" />
    <meta name='yandex-verification' content='5245be84b0d8817e' />	
    <link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext,cyrillic' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet'
          type='text/css'>
{#    <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" type="text/css" media="screen">#}
{##}
{#    <link rel="stylesheet" href="{{ STATIC_URL }}css/grid.css" type="text/css" media="screen">#}
{#    <link rel="stylesheet" href="{{ STATIC_URL }}css/superfish.css" type="text/css" media="screen">#}
{#    <link rel="stylesheet" href="{{ STATIC_URL }}css/kwicks.css" type="text/css" media="screen">#}
{#    <link rel="stylesheet" href="{{ STATIC_URL }}css/galleryffic.css" type="text/css" media="screen">#}
{#    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" media="screen">#}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.min.css" type="text/css" media="screen">

    {% render_block "css" %}
    {% block css %}{% endblock %}
    <script src="{{ STATIC_URL }}js/jquery-1.6.1.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/utils.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/ff_cash.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/superfish.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.kwicks-1.5.1.pack.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.json-2.4.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.opacityrollover.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/cufon-yui.js" type="text/javascript"></script>
    {#    <script src="{{ STATIC_URL }}js/cufon-replace.js" type="text/javascript"></script>#}
    <script src="{{ STATIC_URL }}js/Droid_Serif_italic_400.font.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Snickles_400.font.js" type="text/javascript"></script>

    <!--[if lt IE 7]>
  <div style=' clear: both; text-align:center; position: relative;'> <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg" border="0" alt="" /></a></div>
 <![endif]-->
    <!--[if lt IE 9]>
   		<script type="text/javascript" src="js/html5.js"></script>
        <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
	<![endif]-->
    {% if not request.user.is_superuser %}
        <script type="text/javascript">
            var message = "";
            function clickIE() {
                if (document.all) {
                    (message);
                    return false;
                }
            }
            function clickNS(e) {
                if
                (document.layers || (document.getElementById && !document.all)) {
                    if (e.which == 2) {
                        (message);
                        return false;
                    }
                }
            }
            if (document.layers) {
                document.captureEvents(Event.MOUSEDOWN);
                document.onmousedown = clickNS;
            } else {
                document.onmouseup = clickNS;
                document.oncontextmenu = clickIE;
            }
            document.oncontextmenu = new Function("return false")
        </script>
    {% endif %}
<meta name="google-site-verification" content="rDk78ClA7pYFkeEH1YmLrCCV6c3pk3MmzRlMqITdvsY" />
<meta name='yandex-verification' content='774b42e585d07f3e' />
<meta name='wmail-verification' content='cc94e26e9084d8812580ed1eb87f0058' />
</head>
<body oncopy="return false">
{% cms_toolbar %}

<!--==============================header=================================-->
<header class="header">
    <div class="row-1">
        <div class="main">

            <nav>
                <ul class="sf-menu">
                    {% show_menu 0 100 100 100 %}
                </ul>
                <ul class="language_chooser">
                    {% language_chooser %}
                </ul>
            </nav>
        </div>
    </div>


        {% static_placeholder "logo" %}
    {% placeholder header %}

</header>

{% block content %}

    <!--==============================content================================-->
    <section id="content">
        <div class="main">
            <div class="padding-content">
                {% if posts_big %}
                    <div class="container_12 indent-bot3 posts">
                        {% for item in posts_big %}
                            {% include 'includes/big-post.html' %}
                        {% endfor %}

                        <div class="clear"></div>
                    </div>
                {% endif %}
                {% if posts_1 %}
                    <div class="container_12 indent-bot3 posts">
                        {% for item in posts_1 %}
                            {% include 'includes/small-post.html' %}
                        {% endfor %}

                        <div class="clear"></div>
                    </div>
                {% endif %}
                <div class="container_12 indent-bot3">
                    <div class="wrapper">
                        <div class="grid_12">
                            <div class="spacer-1"></div>
                        </div>
                    </div>
                </div>
                {% placeholder "content" %}



                {% if posts_2 %}
                    <div class="container_12 indent-bot3">
                        {% for item in posts_2 %}
                            {% include 'includes/small-post.html' %}
                        {% endfor %}
                        <div class="clear"></div>
                    </div>
                {% endif %}

                <div class="clear"></div>
            </div>
        </div>
    </section>
    <!--==============================aside=================================-->
{% endblock %}
<aside>
    <div class="bg-splash">
        <div class="main">
            <div class="padding-aside">
                <div class="container_12">
                    <div class="wrapper">
                        {% static_placeholder "footer_menu" %}
                        <article class="grid_3">
                         <a href="/" class="logos"><img src="{{ STATIC_URL }}images/white-logo.png"></a>
                    </article>
                    <article class="grid_5">
                         <a href="/" class="logos tika"><img src="{{ STATIC_URL }}images/tica_logo_white.png"></a>
                    </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>

<!--==============================footer=================================-->
<footer>
    <div class="main">
        <div class="padding-footer">
            <div class="wrapper">
                <div class="text-bot">
                    {% static_placeholder "copyright" %}


                </div>
                <div class="footer-link">
                </div>
            </div>
        </div>
    </div>
</footer>


{% static_placeholder 'counter' %}
{% block js %}
{% endblock %}
{% render_block "js" %}
<script type="text/javascript"> Cufon.now(); </script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter33401345 = new Ya.Metrika({id:33401345,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/33401345" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>